.dashboard-container {
    display: flex;
    flex-direction: row;
    background: fixed;
    background-color: #f0f0f0;
  }
  
  .sidebar {
    width: 20%;
    background-color: #f0f0f0;
    padding: 20px;
    top: 20;
  }
  
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  .main-content h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .main-content p {
    font-size: 18px;
    line-height: 1.5;
  }
  